[Unit]
Description=Redis Server
After=network.target
Documentation=https://redis.io/documentation

[Service]
Type=forking
PIDFile=/var/run/redis-6379.pid
Environment="OPTIONS=/etc/redis/redis.conf"
ExecStart=/usr/local/bin/redis-server $OPTIONS
ExecStartPre=/usr/bin/mkdir -p /data/redis
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/usr/local/bin/redis-cli -h 127.0.0.1 -p 6379 shutdown
RestartSec=2s
Restart=on-failure 

[Install]
WantedBy=multi-user.target
