#VERSION_NUMBER=2.7.0.0-897
[ambari-2.7.0.0]
name=AMBARI-2.7.0.0
baseurl=http://{{ repository_server[0]['ip'] }}:{{ repository_server[0]['port'] }}/ambari/centos7/2.7.0.0-897
gpgcheck=0
enabled=1
priority=1
