#VERSION_NUMBER=2.6.2.2-1
[ambari-2.6.2.2]
name=ambari Version - ambari-2.6.2.2
baseurl=http://{{ repository_server[0]['ip'] }}:{{ repository_server[0]['port'] }}/ambari/centos7/2.6.2.2-1
gpgcheck=0
enabled=1
priority=1
